.wrapper
  section.container-fluid

    .row
      .section-block.col-md-12.textarea
        section
          header
            h2.title
              span.text Newsletter

          .col-xs-12.text-right.funcbar
            a.btn.btn-primary.btn-wider(
            href='#/edit_post/new'
            ) 新建文章

            a.btn.btn-primary.btn-wider(
            href='#/profile'
            ) 信息设置

            a.btn.btn-primary.btn-wider(
            href='#/posts'
            ) 文章管理

    .row
      div
      .section-block.col-md-12
        section
          header
            h3.title  文章管理

    // Section block
    div
    .section-block.col-md-12
    section
      .divtable
        .row.divtable-header
          h5.divtable-cell.col-xs-6.col-sm-5.col-md-5 标题
          h5.divtable-cell.col-xs-0.col-sm-3.col-md-3.text-center 日期
          h5.divtable-cell.col-xs-3.col-sm-2.col-md-2.text-center 详情

        .row.divtable-row(ng-repeat="post in posts")
          .divtable-cell.col-xs-6.col-sm-5.col-md-5
            p.text(
            ng-bind="post.title"
            )

          .divtable-cell.col-xs-0.col-sm-3.col-md-3.text-center
            p.text(ng-bind="post.update_time")

          .divtable-cell.col-xs-3.col-sm-2.col-md-2.text-center
            a.btn.btn-primary.btn-circle(
            ng-click='open_post(post._id)'
            )
              i.ico-eye
